<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aling Nena's Sari-sari Store</title>
    <!-- You can include a downloaded version of Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body background = "">
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=" ">Aling Nena's</a><!-- this is where you set the navigation title -->
        </div>
        <div class="collapse navbar-collapse"><!-- collapse allows for this navbar to be used in mobile devices -->
          <ul class="nav navbar-nav"><!-- this is the list of navigation options in your navbar -->
            <li><a href="/">Home</a></li>
			      <li class="active"><a href="/products">Products</a></li>
			      <li><a href="/about">About Aling Nena</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <br/><br/><br/>
    <div>
      <br/>
      <h1>You have purchased <%= @product.name %> succesfully! </h1>
      <h1>Your change is: Php <%= @calcu.total_c %>.</h1>
      <h2>Thousands : <%= @change_bill[:thousands] %></h2>
      <h2>Five Hundred : <%= @change_bill[:five_hundreds] %></h2>
      <h2>Hundreds : <%= @change_bill[:hundreds] %></h2>
      <h2>Fifties : <%= @change_bill[:fifties] %></h2>
      <h2>Twenties : <%= @change_bill[:twenties] %></h2>
      <h2>Tens : <%= @change_bill[:tens] %></h2>
      <h2>Ones : <%= @change_bill[:ones] %></h2>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>